
<div class="row">
  <div class="col-md-6">
    <h2>Student Register</h2>
      <form [formGroup]="newStudentForm" #myForm="ngForm">
        <div class="row">
          <div class="col-md-8">
            <mat-form-field class="full-width">  
              <input matInput [(ngModel)]="student.firstName" placeholder="First Name" formControlName="firstName"
                maxlength="50" name="firstName" required>
            </mat-form-field>
          </div>
        </div>
        <div class="spacer-lbl"></div>
        <div class="row">
          <div class="col-md-8">
            <mat-form-field class="full-width">
            <input matInput [(ngModel)]="student.lastName" placeholder="Last Name" formControlName="lastName"
                maxlength="50" name="lastName" required>
            </mat-form-field>
          </div>
        </div>
        <div class="spacer-lbl"></div>
        <div class="row">
          <div class="col-md-8">
            <mat-form-field class="full-width">
            <input matInput [(ngModel)]="student.address" placeholder="address" formControlName="address"
                maxlength="50" name="address" required>
            </mat-form-field>
          </div>
        </div>
        <div class="spacer-lbl"></div>
        <button mat-raised-button class="search-btn mr-2" (click)="register()">
          Register
        </button>
    </form>
  </div>
</div>